#back {
  position: fixed;
  width: 100%;
  z-index: -1;
}
h1, h2 {
  text-align:center;
}
.maindiv {
  padding-left:1.5%;
  border:solid 2px black;
  margin-right:-2px;
}

#cTotal {
  text-align: center;
}